nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 8px 4px;
    gap: 6px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: #da4167;
}

.searchbar {
    background-color: #da4167;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 8px;
    padding: 0 4px;
    button {
        padding: 0;
    }
}


nav ::deep a, nav button {
    padding: 0 16px;
    background-color: #da4167;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    color: white;
}
